@import "ress.css";

/* フォントの読み込み */
@font-face {
	font-family: 'MyFont';
	src: url(../font/ipagp.ttf);
}

/* フォントの設定と背景の色 */
body {
	font-family: MyFont;
  background-color: rgba(244, 239, 219, 0.75);
}

/* リンクの設定 */
a {
  text-decoration: none;
  color: blue;
}
a:hover{
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*パソコン・スマホ共通のCSS*/
#PageTopBtn {
    position: fixed; /*ボタンの配置場所を固定*/
    bottom: 1.5rem; /*下からのボタンの配置場所を指定*/
    right: 1rem; /*右からのボタンの配置場所を指定*/
}
#PageTopBtn a {
    display: block; /*配置の調整*/
    text-decoration: none; /*文字の下線を消す*/
    color: #3b1b1e;/*文字の色*/
    background: #fff; /*ボタンの背景色*/
    text-align: center; /*文字を中央に配置*/
    border: solid 2px #3b1b1e;
    border-radius: 50%; /*ボタンの角を少し丸くする*/
    outline: none; /*クリックしたときの黒い枠を消す*/
}
#PageTopBtn a:hover {
    text-decoration: none;
}

/*パソコンで表示する場合のCSS*/
@media (min-width: 768px) {
#PageTopBtn {
    font-size: 1.25rem; /*文字のサイズ*/
}
#PageTopBtn a {
    width: 2.5rem; /*ボタンの幅*/
    height: 2.5rem; /*ボタンの高さ*/
    padding: 0.5rem 0 0 0; /*文字の配置場所の調整*/
}
}

/*スマホで表示する場合のCSS*/
@media (max-width: 767px) {
#PageTopBtn {
    font-size: 1rem;
}
#PageTopBtn a {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem 0;
}
}

li{
	list-style: none;
}
