footer{
  width: auto;
  text-align: center;
  background-color: #313534;
  height: 6rem;
  color: #F4EFDB;
  font-size: 0.75rem;
}
.SNS{
  height: 2.25rem;
  width: auto;
  padding-top: 0.75rem;
}
footer li{
  display: inline;
  padding: 0 0.5rem;
}
.SNS a{
  color: #F4EFDB;
  font-size: 1.25rem;
}
